 @import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body{background-color: black;
}

h1{font-family: "Nosifer", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 55px;
  color: rgb(54, 195, 54)
}

h2{
    text-align: center;
    margin-top: 40px;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight:600;
    font-style:normal;
    font-size: 30px;
    color: white
}

p{
    color:rgb(0, 0, 0);
    text-align: left;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight:200px;
    font-style: normal;
    color: white
}
