@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

html{
    font-family: "Crimson Text", serif;
    text-align: left;
    margin-right: 30%;
    margin-left: 30%;
    color: maroon;
    background-color: rgb(218, 218, 218);
}

section{
    margin-bottom: 10%;
}

hr{
    border: none;
    height: 2px;
    background-color: white;
}

h1{
    font-weight: 700;
    font-style: normal;
    font-size: 60px;
    margin-top: 10%;
    margin-bottom: 0%;
}

.Description {
    font-style: italic;
    margin-top: 0%;
    font-size: 24px;
    color: rgb(195, 83, 83);
}

h2{
    font-size: 30px;
    margin-bottom: 0%;
    color: maroon;
}

h3{
    font-size: 18px;
    margin-top: 05%;
    margin-bottom: 0%;
    color: rgb(195, 83, 83);
}

p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-top: 02%;
    margin-bottom: 10%;
    color: maroon;
}

.semi-bold{
    font-weight: 600;
    font-style: normal;
}

.bold{
    font-weight: 700;
    font-style: normal;
}

.italic{
    font-style: italic;
}

.thirtyEM{
    letter-spacing: .3em;
}

.sixEM{
    letter-spacing: .06em;
}

.underline{
    text-decoration: underline;
}

.line-through{
    text-decoration: line-through;
}

.overline{
    text-decoration: overline;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.capitalize{
    text-transform: capitalize;
}