@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-align: left;
    margin-right: 30%;
    margin-left: 30%;
    color: black;
    background-color: white;
}

hr{
    margin-top: 05%;
    margin-bottom: 05%;
}

img{
    width: 45%;
}

h1{
    font-weight: 800;
    font-size: 40px;
    font-style: normal;
    margin-top: 10%;
    margin-bottom: 02%;
}

h2{
    font-weight: 700;
    font-size: 30px;
    font-style: normal;
    margin-top: 0%;
    margin-bottom: 0%;
}

h3{
    font-weight: 600;
    font-size: 20px;
    font-style: italic;
    margin-top: 02%;
    margin-bottom: 0%;
}

p{
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    margin-top: 0%;
    margin-bottom: 0%;
}

ul{
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    margin-top: 02%;
    margin-bottom: 05%;
}

ol{
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    margin-top: 02%;
    margin-bottom: 05%;
}

li{
    margin-top: 05px;
    margin-bottom: 10px;
}

.citation{
    color: gray;
}

.kolacheingredients{
    width: 90%;
}